@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

/* App tweaks */
:root {
  --radius: 14px;
}

.rounded-2xl {
  border-radius: var(--radius);
}

/* Better system integration */
html {
  color-scheme: light dark;
}
